 .card {
	box-shadow:0 8px 20px rgba(0,0,0,0.2);
	background-color:white;
	margin: auto;
	text-align: center;
	font-family: arial;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.10);
    border-radius: .25rem;
}
.title {
   color: grey;
   font-size: 18px;
}

.card a {
   text-decoration: none;
   font-size: 22px;
   color: black;
}
.blog img {
	height:300px;
	width:390px;
}
.blog {
	box-shadow:0 8px 20px
    rgba(0,0,0,0.2);
	background-color:white;
	margin: auto;
	text-align: center;
	font-family: arial;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.10);
    border-radius: .25rem;
}